In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"USA_cars_datasets.csv")

In [3]:
data

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2499 non-null   int64
 1   price         2499 non-null   int64
 2   brand         2499 non-null   object
 3   model         2499 non-null   object
 4   year          2499 non-null   int64
 5   title_status  2499 non-null   object
 6   mileage       2499 non-null   float64
 7   color         2499 non-null   object
 8   vin           2499 non-null   object
 9   lot           2499 non-null   int64
 10  state         2499 non-null   object
 11  country       2499 non-null   object
 12  condition     2499 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 253.9+ KB

In [5]:
data.describe()

        Unnamed: 0         price         year       mileage           lot
count  2499.000000   2499.000000  2499.000000  2.499000e+03  2.499000e+03
mean   1249.000000  18767.671469  2016.714286  5.229869e+04  1.676914e+08
std     721.543484  12116.094936     3.442656  5.970552e+04  2.038772e+05
min       0.000000      0.000000  1973.000000  0.000000e+00  1.593488e+08
25%     624.500000  10200.000000  2016.000000  2.146650e+04  1.676253e+08
50%    1249.000000  16900.000000  2018.000000  3.536500e+04  1.677451e+08
75%    1873.500000  25555.500000  2019.000000  6.347250e+04  1.677798e+08
max    2498.000000  84900.000000  2020.000000  1.017936e+06  1.678055e+08

In [6]:
data.shape

(2499, 13)

In [7]:
data.isnull().sum()

Unnamed: 0      0
price           0
brand           0
model           0
year            0
title_status    0
mileage         0
color           0
vin             0
lot             0
state           0
country         0
condition       0
dtype: int64

In [8]:
data.columns

Index(['Unnamed: 0', 'price', 'brand', 'model', 'year', 'title_status',
       'mileage', 'color', 'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')

In [9]:
data['brand'].value_counts()

ford               1235
dodge               432
nissan              312
chevrolet           297
gmc                  42
jeep                 30
chrysler             18
bmw                  17
hyundai              15
kia                  13
buick                13
infiniti             12
honda                12
cadillac             10
mercedes-benz        10
heartland             5
land                  4
peterbilt             4
audi                  4
acura                 3
lincoln               2
lexus                 2
mazda                 2
maserati              1
toyota                1
harley-davidson       1
jaguar                1
ram                   1
Name: brand, dtype: int64

# Top 5 brands of cars

In [10]:
data['brand'].value_counts().head(5)

ford         1235
dodge         432
nissan        312
chevrolet     297
gmc            42
Name: brand, dtype: int64

# data of 2020

In [19]:
data['year'].value_counts()

2019    892
2018    395
2017    377
2016    203
2015    196
2014    104
2013     86
2012     72
2020     48
2011     23
2008     18
2010     13
2009     11
2003      9
2006      8
2004      6
2007      6
2005      6
2001      5
1998      4
2000      4
2002      2
1994      2
1997      2
1996      2
1973      1
1999      1
1984      1
1995      1
1993      1
Name: year, dtype: int64

In [21]:
data[data['year']==2020]

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
26,26,21500,kia,sorento,2020,clean vehicle,11451.0,blue,5xypg4a59lg616029,167801828,north carolina,usa,2 days left
58,58,23000,chrysler,pacifica,2020,clean vehicle,2473.0,white,2c4rc1fg5lr143335,167656205,ohio,usa,2 days left
206,206,25,chevrolet,vehicl,2020,salvage insurance,7232.0,black,2gnaxkev6l6128374,167756877,kentucky,usa,3 days left
210,210,22500,chevrolet,camaro,2020,clean vehicle,13826.0,green,1g1fb1rx6l0109117,167765992,georgia,usa,3 days left
213,213,15500,chevrolet,trax,2020,clean vehicle,16545.0,white,3gncjlsb1ll142267,167765995,georgia,usa,3 days left
216,216,45500,chevrolet,tahoe,2020,clean vehicle,13303.0,white,1gnscbkc4lr164829,167765997,georgia,usa,3 days left
219,219,45500,chevrolet,tahoe,2020,clean vehicle,13679.0,gray,1gnscbkcxlr162857,167765999,georgia,usa,3 days left
222,222,16300,chevrolet,trax,2020,clean vehicle,18221.0,white,3gncjlsb4ll149763,167766003,georgia,usa,3 days left
225,225,45500,chevrolet,tahoe,2020,clean vehicle,13885.0,white,1gnscbkc6lr159535,167766009,georgia,usa,3 days left
399,399,61200,bmw,series,2020,clean vehicle,7509.0,black,wba7t2c04lgl17687,167417053,california,usa,7 days left
426,426,55600,lexus,gx,2020,clean vehicle,8186.0,silver,jtjam7bx4l5251250,167605747,florida,usa,2 days left
657,657,22000,chevrolet,trax,2020,clean vehicle,179.0,gray,3gncjksbxll181398,167781406,california,usa,21 hours left
729,729,17300,chevrolet,equinox,2020,clean vehicle,15577.0,black,3gnaxkev2ll125886,167796069,nevada,usa,2 days left
730,730,30500,chevrolet,traverse,2020,clean vehicle,23470.0,silver,1gnerhkw7lj115518,167796080,nevada,usa,2 days left
731,731,25000,chevrolet,impala,2020,clean vehicle,18715.0,silver,1g1105s31lu100901,167796081,nevada,usa,6 hours left
806,806,28300,chevrolet,colorado,2020,clean vehicle,13886.0,silver,1gcgtcen7l1101496,167805497,indiana,usa,2 days left
1064,1064,15900,dodge,charger,2020,clean vehicle,5284.0,orange,2c3cdxbg6lh100855,167742943,pennsylvania,usa,2 days left
1217,1217,32500,ford,explorer,2020,clean vehicle,5920.0,silver,1fmsk8dh2lga15480,167722215,missouri,usa,21 hours left
1220,1220,18300,ford,fusion,2020,clean vehicle,10882.0,white,3fa6p0d94lr133238,167722427,california,usa,1 days left
1229,1229,14300,ford,fusion,2020,clean vehicle,6975.0,silver,3fa6p0d98lr117690,167722616,california,usa,1 days left
1387,1387,16400,ford,f-150,2020,clean vehicle,10351.0,black,1ftew1e57lfa24246,167742924,pennsylvania,usa,2 days left
1388,1388,17000,ford,fusion,2020,clean vehicle,1117.0,gray,3fa6p0d98lr194138,167742945,pennsylvania,usa,2 days left
1396,1396,18200,ford,fusion,2020,clean vehicle,9861.0,black,3fa6p0k98lr118096,167743129,pennsylvania,usa,2 days left
1400,1400,26500,ford,van,2020,clean vehicle,122.0,white,1ftbr1c86lka43630,167743139,pennsylvania,usa,2 days left
1638,1638,20000,ford,fusion,2020,clean vehicle,23984.0,silver,3fa6p0cd0lr116667,167569992,virginia,usa,2 days left
1640,1640,27000,ford,mustang,2020,clean vehicle,12748.0,red,1fatp8uh3l5101487,167569997,virginia,usa,2 days left
1642,1642,20600,ford,fusion,2020,clean vehicle,17858.0,black,3fa6p0cd8lr115427,167570001,virginia,usa,2 days left
1676,1676,23400,ford,fusion,2020,clean vehicle,2452.0,gray,3fa6p0hd6lr110753,167749593,michigan,usa,21 hours left
1701,1701,46900,ford,explorer,2020,clean vehicle,740.0,gray,1fmsk8fh3lga11841,167751303,virginia,usa,21 hours left
1704,1704,25200,ford,escape,2020,clean vehicle,7.0,black,1fmcu9f61lua48374,167751305,virginia,usa,21 hours left
1714,1714,43900,ford,explorer,2020,clean vehicle,2089.0,no_color,1fmsk7fh0lgb38489,167751362,south carolina,usa,21 hours left
2012,2012,35400,ford,ranger,2020,clean vehicle,671.0,blue,1fter4fh1lla02732,167759471,ohio,usa,21 hours left
2026,2026,15000,ford,fusion,2020,clean vehicle,11729.0,white,3fa6p0d92lr117801,167625047,illinois,usa,19 hours left
2088,2088,59900,ford,max,2020,clean vehicle,2162.0,no_color,1fmjk2at4lea11492,167762991,ohio,usa,21 hours left
2205,2205,14400,nissan,altima,2020,clean vehicle,10728.0,gray,1n4bl4bv5lc127707,167455277,arizona,usa,2 days left
2268,2268,25500,nissan,armada,2020,clean vehicle,10317.0,black,jn8ay2nc6l9615894,167722430,california,usa,1 days left
2270,2270,13900,nissan,altima,2020,clean vehicle,15160.0,black,1n4bl4bv4lc140657,167722431,california,usa,1 days left
2302,2302,21100,nissan,rogue,2020,clean vehicle,19597.0,silver,5n1at2mt6lc714032,167725016,south carolina,usa,21 hours left
2305,2305,14700,nissan,rogue,2020,clean vehicle,15387.0,gray,knmat2mv5lp500471,167743353,pennsylvania,usa,2 days left
2306,2306,19000,nissan,cargo,2020,clean vehicle,264.0,black,3n6cm0kn9lk693851,167129224,california,usa,7 hours left
2321,2321,12000,nissan,rogue,2020,clean vehicle,11583.0,blue,jn8at2mv7lw102351,167656206,ohio,usa,2 days left
2322,2322,15000,nissan,altima,2020,clean vehicle,14320.0,blue,1n4bl4cv4lc134145,167656212,ohio,usa,2 days left
2336,2336,19400,nissan,rogue,2020,clean vehicle,21009.0,black,knmat2mvxlp505598,167614823,minnesota,usa,14 hours left
2339,2339,19800,nissan,rogue,2020,clean vehicle,14850.0,silver,knmat2mv2lp511637,167614830,minnesota,usa,14 hours left
2341,2341,18000,nissan,rogue,2020,clean vehicle,12748.0,black,jn8at2mt4lw003761,167614833,minnesota,usa,14 hours left
2342,2342,19800,nissan,rogue,2020,clean vehicle,14531.0,blue,jn8at2mv1lw104855,167614835,minnesota,usa,14 hours left
2343,2343,19700,nissan,rogue,2020,clean vehicle,15931.0,black,knmat2mv1lp508342,167614836,minnesota,usa,14 hours left
2344,2344,20100,nissan,rogue,2020,clean vehicle,10875.0,blue,jn8at2mvxlw103235,167614842,minnesota,usa,14 hours left

# cars sold in a timeline

In [191]:
data[data['year']>=2010]['year'].count()

2409

# cars sold in specific year

In [33]:
data[data['year']==2020]['year'].count()

48

In [34]:
data[data['year']==2006]['year'].count()

8

In [35]:
data[data['year']==2018]['year'].count()

395

# Highest and lowest prices

In [25]:
data['price'].value_counts()

0        43
16500    26
13900    21
15500    19
15000    19
         ..
12560     1
11760     1
7340      1
6530      1
30100     1
Name: price, Length: 790, dtype: int64

In [26]:
data['price'].max()

84900

In [27]:
data['price'].min()

0

In [30]:
data['price'].mean()

18767.671468587436

# highest and lowest price of cars of specific category

In [188]:
data[data['brand']=='toyota'][['model','price']].head(1) #only 1 car of this brand

     model  price
0  cruiser   6300

# most expensive and least expensive gmc car

In [190]:
data[data['brand']=='gmc'][['model','price']].sort_values(by='price',ascending=False).head(1) #most expensive

    model  price
483  1500  48500

In [189]:
data[data['brand']=='gmc'][['model','price']].sort_values(by='price').head(1)      #least expensive

    model  price
347  door      0

# most expensive and least expensive ford car

In [185]:
data[data['brand']=='ford'][['model','price']].sort_values(by='price',ascending=False).head(1)     #most expensive

     model  price
1340   drw  74000

In [186]:
data[data['brand']=='nissan'][['model','price']].sort_values(by='price',ascending=False).head(1)      #least expensive

     model  price
2375    xd  36300

In [187]:
data[data['brand']=='dodge'][['model','price']].sort_values(by='price',ascending=False).head(1)  #most expensive

          model  price
277  challenger  67000

In [89]:
data[(data['brand']=='ford') & (data['model']=='wagon')]['price'].max()

34000

In [91]:
data[(data['brand']=='ford') & (data['price']==74000)]['model']

1340    drw
Name: model, dtype: object

In [92]:
data['price'].max()

84900

In [101]:
data[data['price']>=50000]['model'].value_counts()

srw            16
door            8
max             6
f-150           4
expedition      3
challenger      2
drw             2
corvette        2
charger         1
durango         1
sl-class        1
m               1
gx              1
series          1
road/street     1
3500            1
f-650           1
Name: model, dtype: int64

# cars from different countries

In [103]:
data['country'].value_counts()

 usa       2492
 canada       7
Name: country, dtype: int64

In [114]:
data[data['price']>=60000]['brand']

277             dodge
399               bmw
502     mercedes-benz
645         chevrolet
667         chevrolet
1215             ford
1331             ford
1334             ford
1336             ford
1340             ford
1341             ford
1342             ford
1343             ford
Name: brand, dtype: object

# Number of cars that with different insurance

In [108]:
data['title_status'].value_counts()

clean vehicle        2336
salvage insurance     163
Name: title_status, dtype: int64

# Top 10 most expensive cars

In [126]:
data[data['price']>=60000][['brand','model','price']].sort_values(by='price',ascending=False).head(10)

              brand       model  price
502   mercedes-benz    sl-class  84900
1340           ford         drw  74000
1336           ford         drw  70000
277           dodge  challenger  67000
1215           ford         srw  65500
1331           ford         max  65200
667       chevrolet    corvette  63200
1334           ford         srw  63000
1343           ford         srw  63000
645       chevrolet    corvette  62000

# Top 10 Most popular brand

In [128]:
data['brand'].value_counts().head(10)

ford         1235
dodge         432
nissan        312
chevrolet     297
gmc            42
jeep           30
chrysler       18
bmw            17
hyundai        15
kia            13
Name: brand, dtype: int64

In [167]:
data['brand'].value_counts().idxmax()  #most popular

'ford'

In [168]:
data['brand'].value_counts().idxmin() #least popular

'maserati'

# Most popular  & least popular color of car

In [153]:
data['color'].value_counts()

white                                      707
black                                      516
gray                                       395
silver                                     300
red                                        192
blue                                       151
no_color                                    61
green                                       24
orange                                      20
gold                                        19
charcoal                                    18
brown                                       15
yellow                                       9
magnetic metallic                            6
shadow black                                 5
color:                                       5
beige                                        5
oxford white                                 4
ingot silver metallic                        4
super black                                  3
billet silver metallic clearcoat             3
triple yellow tri-coat                       3
cayenne red                                  2
white platinum tri-coat metallic             2
off-white                                    2
ruby red metallic tinted clearcoat           2
tuxedo black metallic                        2
black clearcoat                              2
bright white clearcoat                       2
morningsky blue                              1
guard                                        1
pearl white                                  1
tan                                          1
burgundy                                     1
ingot silver                                 1
lightning blue                               1
jazz blue pearlcoat                          1
kona blue metallic                           1
royal crimson metallic tinted clearcoat      1
ruby red                                     1
competition orange                           1
purple                                       1
toreador red                                 1
light blue                                   1
phantom black                                1
maroon                                       1
dark blue                                    1
turquoise                                    1
glacier white                                1
Name: color, dtype: int64

In [162]:
data['color'].value_counts().idxmax()

'white'

In [166]:
data['color'].value_counts().idxmin()

'morningsky blue'

# prices of cars from 2000 to 2020

In [138]:
data[data['year']>=2000]['price']

0        6300
1        2899
2        5350
3       25000
4       27700
        ...
2494     7800
2495     9200
2496     9200
2497     9200
2498     9200
Name: price, Length: 2484, dtype: int64

# average price of  a car

In [139]:
data['price'].mean()

18767.671468587436

# average price of a car of particular brand

In [148]:
data.groupby('brand')['price'].mean().sort_values(ascending=False)

brand
harley-davidson    54680.000000
lexus              33220.000000
maserati           30300.000000
land               28900.000000
mercedes-benz      28704.000000
bmw                26397.058824
cadillac           24941.000000
ford               21666.888259
buick              19715.769231
chevrolet          18669.952862
lincoln            18150.000000
dodge              17781.988426
audi               13981.250000
chrysler           13686.111111
infiniti           13098.333333
nissan             12065.820513
kia                11123.846154
ram                11050.000000
jeep               10933.833333
gmc                10657.380952
mazda               8000.000000
acura               7266.666667
toyota              6300.000000
honda               6127.500000
hyundai             5203.200000
heartland           2966.000000
jaguar              2800.000000
peterbilt            400.000000
Name: price, dtype: float64

# number of car models in the dataset

In [152]:
data['model'].nunique()

127